@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400);

body {
  background-color: gray;
}

.baralho {
  position: relative;
  left: 200px;
  top: 30px;
  width: 1200px;
}


.carta {
  background-color: white;
  height: 350px;
  width: 250px;
  border-radius: 15px;
  padding: 15px;
  box-sizing: content-box;
  position: relative;
  float: left;
  margin: 10px;
  box-shadow: -1px 1px 4px rgba(0,0,0,0.1);
  justify-items: center;
}


.naip-area {
  height: 50%;
  width: 100%;
}

.naip-area:nth-child(2) {
  transform:rotate(180deg);
}

.naip-number, .naip-sign {  
  width: 30px;
  text-align: center;
}

.naip-number {
  font-size: 45px; 
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.naip-sign {
  font-size: 40px;
}

.carta-miolo {
  position: absolute;
  top: 10px;
  width: 290px;
  height: 10px;
  left: 5px;
}

/*--------- Miolo 1 -----------*/
.miolo-1 {
  text-align: center;
  line-height: 390px;
  font-size: 120px;
}

/*--------- Miolo 2 -----------*/
.miolo-2 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-2 .naip-miolo {
  display: block;
  position: absolute;
  width: 100%;
}

.miolo-2 .naip-miolo:nth-child(2) {
  transform:rotate(180deg);
  bottom: 0;
}

/*--------- Miolo 3 -----------*/
.miolo-3 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-3 .naip-miolo {
  display: block;
  position: absolute;
  width: 100%;
}

.miolo-3 .naip-miolo:nth-child(2) {
  top: 165px;
}

.miolo-3 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
}

/*--------- Miolo 4 -----------*/
.miolo-4 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-4 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-4 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-4 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-4 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-4 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

/*--------- Miolo 5 -----------*/
.miolo-5 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-5 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-5 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-5 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-5 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-5 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-5 .naip-miolo:nth-child(5) {
  top: 165px;
  left: 60px;
}


/*--------- Miolo 6 -----------*/
.miolo-6 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-6 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-6 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-6 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-6 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-6 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-6 .naip-miolo:nth-child(5) {
  top: 165px;
  left:0;
}

.miolo-6 .naip-miolo:nth-child(6) {
  top: 165px;
  right:0;
}

/*--------- Miolo 7 -----------*/

.miolo-7 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-7 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-7 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-7 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-7 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-7 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-7 .naip-miolo:nth-child(5) {
  top: 165px;
  left: 60px;
}

.miolo-7 .naip-miolo:nth-child(6) {
  top: 15px;
  left: 60px;
}

.miolo-7 .naip-miolo:nth-child(7) {
  transform:rotate(180deg);
  top: 310px;
  left: 60px;
}

/*--------- Miolo 8 -----------*/

.miolo-8 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-8 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-8 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-8 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-8 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-8 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-8 .naip-miolo:nth-child(5) {
  top: 100px;
  right: 0px;
}

.miolo-8 .naip-miolo:nth-child(6) {
  top: 100px;
  left: 0px;
}

.miolo-8 .naip-miolo:nth-child(7) {
  transform:rotate(180deg);
  top: 210px;
  left: 0px;
}

.miolo-8 .naip-miolo:nth-child(8) {
  transform:rotate(180deg);
  top: 210px;
  right: 0px;
}

/*--------- Miolo 9 -----------*/

.miolo-9 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-9 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-9 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-9 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-9 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-9 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-9 .naip-miolo:nth-child(5) {
  top: 100px;
  right: 0px;
}

.miolo-9 .naip-miolo:nth-child(6) {
  top: 100px;
  left: 0px;
}

.miolo-9 .naip-miolo:nth-child(7) {
  transform:rotate(180deg);
  top: 210px;
  left: 0px;
}

.miolo-9 .naip-miolo:nth-child(8) {
  transform:rotate(180deg);
  top: 210px;
  right: 0px;
}
.miolo-9 .naip-miolo:nth-child(9) {
  
  top: 145px;
  left: 65px;
}

/*--------- Miolo 10 -----------*/

.miolo-10 {
  text-align: center;
  font-size: 70px;
  height: 100%;
}

.miolo-10 .naip-miolo {
  display: block;
  position: absolute;
  width: 50%;
}

.miolo-10 .naip-miolo:nth-child(1) {
  top: 0;
  left: 0;
}

.miolo-10 .naip-miolo:nth-child(2) {
  top: 0;
  right: 0;
}

.miolo-10 .naip-miolo:nth-child(3) {
  transform:rotate(180deg);
  bottom: 0;
  left: 0;
}

.miolo-10 .naip-miolo:nth-child(4) {
  transform:rotate(180deg);
  bottom: 0;
  right: 0;
}

.miolo-10 .naip-miolo:nth-child(5) {
  top: 100px;
  right: 0px;
}

.miolo-10 .naip-miolo:nth-child(6) {
  top: 100px;
  left: 0px;
}

.miolo-10 .naip-miolo:nth-child(7) {
  transform:rotate(180deg);
  top: 210px;
  left: 0px;
}

.miolo-10 .naip-miolo:nth-child(8) {
  transform:rotate(180deg);
  top: 210px;
  right: 0px;
}
.miolo-10 .naip-miolo:nth-child(9) {
  transform:rotate(180deg);
  bottom: 80px;
  left: 65px;
}
.miolo-10 .naip-miolo:nth-child(10) {  
  top: 80px;
  left: 65px;
}

img{
  border-radius: 25%;
  width: 80%;
  margin-top: 125px;
  margin-left: auto;
  margin-right: auto;
}

.carta-palavra-1{
  width: 80%;
  margin-top: 140px;
  margin-left: 20px;
}

.carta-palavra-4{
  width: 80%;
  margin-top: 70px;
  margin-left: 20px;
}

.carta-palavra-7{
  width: 80%;
  margin-top: 110px;
  margin-left: 20px;
}

.carta-palavra-8{
  width: 80%;
  margin-top: 110px;
  margin-left: 20px;
}

.carta-palavra-9{
  width: 80%;
  margin-top: 65px;
  margin-left: 20px;
}

.carta-palavra-10{
  width: 80%;
  margin-top: 100px;
  margin-left: 20px;
}

.carta-palavra-11{
  width: 80%;
  margin-top: 130px;
  margin-left: 20px;
}

.carta-palavra-13{
  width: 80%;
  margin-top: 140px;
  margin-left: 20px;
}

.home{
  width: 400px;
  margin: 0 auto;
  background-color: black;
}

html{
  background-color: black;
  
}
.App{
  background-color: black;
}

.carta-box{
  display: flex;
  justify-content: center;
}

h2{
  margin: 10px;
}

.botao{
  color: black;
}